{% extends "base.html" %}

{% block title %}GliomaDx - About{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-bg"></div>
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>About <span>GliomaDx</span></h1>
        <p>Pioneering AI-driven diagnosis by using 3D MRI analysis to Grade and Type gliomas</p>
    </div>
</section>

<section class="features">
        <div class="info-box">
            <h2>Our Story</h2>
            <h4>Several members of our team have had family members affected by cancer, driven primarily by inequities in histopathology diagnosis. Through past research experiences with Dartmouth Health, we've gained an understanding in implementing AI-based solutions in the context of pathology to improve diagnosis and mitigate misclassification rates. With this expertise we gained in pathology, we were interested in expanding this technological application to glioma diagnosis, especially because it is a field where significant improvement can be made to help patients and reduce health inequity.
            </h4>
            <a href="{{ url_for('diagnose') }}" class="cta special">Try GliomaDx</a>
        </div>
    </section>
{% endblock %}