<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GliomaDx{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diagnose_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="{% block body_class %}{% endblock %} {% if request.path.startswith('/confirm_upload') and request.args.get('is_segmented', '0') == '1' %}segmented{% endif %}">
    <div class="mesh-gradient"></div>
    <header>
        <div class="logo">GliomaDx</div>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('diagnose') }}" class="special">Diagnose</a>
            <a href="{{ url_for('about') }}">About NeuroDx</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <div class="footer" align="center">
        <p>© 2025 GliomaDx</p>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
</body>
</html>