{% extends "base.html" %}

{% block title %}GliomaDx{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-bg"></div>
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1>Precision Glioma <span>Diagnosis</span></h1>
            <p>Advanced machine learning meets biomedical innovation to redefine healthcare.</p>
            <div class="button-group">
                <a href="{{ url_for('diagnose') }}" class="cta special">Diagnose</a>
                <a href="#" class="cta">Learn More</a>
            </div>
        </div>
    </section>

    <section class="features">
        <h2>Why GliomaDx?</h2>
        <div class="feature-grid">
            <div class="feature">
                <h3>Accessibility</h3>
                <p>Enables understaffed and rural healthcare systems to use our tool to streamline diagnosis, helping bridge inequities.</p>
            </div>
            <div class="feature">
                <h3>Accuracy</h3>
                <p>Better accuracy than traditional ML approaches and even doctors using a NON-INVASIVE METHODOLOGY, providing a future path for better disease diagnosis in a non-invasive way, also reducing healthcare cost burdens on patients.</p>
            </div>
            <div class="feature">
                <h3>Informative for Patients and Physicians</h3>
                <p>Cancer typing and grading helps inform better drug treatments, allowing doctors to not just diagnose, but also implement treatment plans faster & better, a novel approach to healthcare
                </p>
            </div>
        </div>
    </section>
{% endblock %}